@model List<BreedViewModel>

@{
    ViewBag.Title = "Breeds";
}

<table class="table">
    <tbody>
        @foreach (var breed in Model)
        {
            <tr>
                <td>@breed.Name</td>
                <td>
                <a class="btn btn-sm btn-outline-primary" asp-controller="Breed" asp-action="Details" asp-route-id="@breed.Id" role="button">Info</a>
                <a class="btn btn-sm btn-outline-success" asp-controller="Image" asp-action="ListPublicCatImages" asp-route-breedId="@breed.Id" role="button">Images</a>
                </td>
            </tr>
        }
    </tbody>
</table>